.pjs-sortable {
    position: static;
    padding-left: 0px;
    margin-left: 2%;
    float: left;
    width: 50%;
}

.pjs-sortable ul {
    font-size: 120%;
    font-family: monospace;
    list-style: none;
    background-color: #efefff;
    padding-bottom: 10px;
    padding-left: 0;
    margin-left: 0;
    border: 1px solid #efefff;;
}

.pjs-sortable ul:empty {
  padding-bottom: 40px;
}

.pjs-sortable li,
.pjs-sortable li:before,
.pjs-sortable li:after {
  box-sizing: content-box;
}

.pjs-sortable li {
    -moz-border-radius:10px;
    -webkit-border-radius:10px;
    border-radius: 10px;
    background-color:#EFEFEF;
    border:1px solid lightgray;
    padding:10px;
    margin-top: 5px;
    white-space: nowrap;
    overflow: hidden;
    cursor: move;
}
.pjs-sortable li:hover {
    overflow: visible;
}

.pjs-toggle {
    padding: 0 15px;
    display: inline-block;
    border: 1px dashed black;
    z-index: 500;
    cursor: pointer;
    min-width: 10px;
    min-height: 15px;
}
.pjs-toggle:empty {
    border-color: red;
}
.pjs-toggle:empty:before {
    content: "??";
    display: block;
    color: red;
}
